{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
    

{% block body %}
   <div class="bg-red-500 text-white p-6 text-center">
    TAILWIND WORKS ✅
    </div>
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code>/var/www/html/src/Controller/HomeController.php</code></li>
            <li>Your template at <code>/var/www/html/templates/home/index.html.twig</code></li>
        </ul>
    </div>
{% endblock %}
