
### Symfony ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/cache/
/var/log/
/vendor/

### PHPUnit ###
/phpunit.xml
/.phpunit.result.cache

### Asset Mapper ###
/public/assets/
/assets/vendor/

### Node / Vite ###
/node_modules/
/public/build/

### Docker ###
.docker/
.dockerignore

### Editors ###
.vscode/
.idea/

