

services:
    php:
        build: ./docker/php
        container_name: todo_php
        volumes:
            - ./:/var/www/html
        depends_on:
            - db

    nginx:
        image: nginx:alpine
        container_name: todo_nginx
        ports:
            - "8080:80"
        volumes:
            - ./:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php

    db:
        image: postgres:15
        container_name: todo_db
        environment:
            POSTGRES_USER: todo_user
            POSTGRES_PASSWORD: todo_pass
            POSTGRES_DB: todo_db
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data

    node:
        image: node:18
        working_dir: /var/www/html
        volumes:
            - ./:/var/www/html

        ports:
            - "5173:5173"
        command: ["tail", "-f", "/dev/null"]

volumes:
    pgdata:
