@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #eeeeee;
}

.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}
.example-wrapper {
    
    padding: 2px 6px;
}